%% -*- Erlang -*-
{erl_opts, [debug_info]}.

{deps,
 [{reltool_util,
   ".*",
   {git, "https://github.com/okeuday/reltool_util.git", {tag, "v1.3.1"}}},
  {epgsql, ".*", {git, "https://github.com/epgsql/epgsql.git", {branch, "devel"}}},
  {recon, ".*", {git, "https://github.com/ferd/recon.git", {tag, "2.2.1"}}},
  {cqerl, ".*", {git, "https://github.com/kyle-neal/cqerl.git", {branch, "master"}}},
  {erlastic_search, ".*", {git, "https://github.com/kyle-neal/erlastic_search.git", {branch, "master"}}},
  {tic, ".*", {git, "https://github.com/kyle-neal/tic.git", {branch, "develop"}}}]}.

{overrides,
 [{override,
   lz4,
   [{plugins, [pc]},
    {artifacts, ["priv/lz4.so"]},
    {provider_hooks, [{post, [{compile, {pc, compile}}, {clean, {pc, clean}}]}]}]}]}.

{dialyzer_opts,
 [{warnings, [unmatched_returns, error_handling, race_conditions, underspecs]}, src]}.

{xref_checks, [undefined_function_calls]}.

{ct_use_short_names, true}.

{minimum_otp_vsn, "26.2"}.
